### Exercise 2: Pandas

The second exercise should help you to deepen the experiences of Pandas that you gained in the course. It contains multiple sub-exercises for each topic.

#### a) Load data and get an overview

Load the data "student.csv" to a DataFrame and get an overview of the data. Display your results and explain your insights of the data

In [37]:
import pandas as pd
df = pd.read_csv("./student.csv", sep=';', index_col='ID')
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
ID,,,,,,,,,,,,,,,,,,,,,
1,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
2,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
3,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
4,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
5,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
392,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
393,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
394,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
395,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

#### b) Indexing and selection of data

Select all students, that have "at_home" as Mjob and "teacher" as Fjob. Additionaly get the studytime of those students.\
Select all students, that have zero failures. Are there more students that have zero failures than those who have at least one?\
Select all students with a uneven ID.\
Select all students that have an even amount of famrel.\
Is there any student, who is not paid, has no activities and no internet?\
\
Use loc, iloc, [] and/or direct attribute access

In [30]:
#(df[df['Mjob'] == 'at_home'][df['Fjob'] == 'teacher'])
df.loc[(df['Mjob'] == 'at_home') & (df['Fjob'] == 'teacher'), "studytime"]

0      2
134    2
Name: studytime, dtype: int64

In [26]:
zeroFailure = df[df['failures'] == 0]
oneOreMoreFailure = df[df['failures'] > 0]
display(zeroFailure)
display("More Zero Failure? ", len(zeroFailure) > len(oneOreMoreFailure))

,ID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1,GP,F,18,U,GT3,A,4,4,at_home,...,4,3,4,1,1,3,6,5,6,6
1,2,GP,F,17,U,GT3,T,1,1,at_home,...,5,3,3,1,1,3,4,5,5,6
3,4,GP,F,15,U,GT3,T,4,2,health,...,3,2,2,1,1,5,2,15,14,15
4,5,GP,F,16,U,GT3,T,3,3,other,...,4,3,2,1,2,5,4,6,10,10
5,6,GP,M,16,U,LE3,T,4,3,services,...,5,4,2,1,2,5,10,15,15,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,387,MS,F,18,R,GT3,T,4,4,teacher,...,4,4,3,2,2,5,7,6,5,6
388,389,MS,F,18,U,LE3,T,3,1,teacher,...,4,3,4,1,1,1,0,7,9,8
391,392,MS,M,17,U,LE3,T,3,1,services,...,2,4,5,3,4,2,3,14,16,16
393,394,MS,M,18,R,LE3,T,3,2,services,...,4,4,1,3,4,5,0,11,12,10
394,395,MS,M,19,U,LE3,T,1,1,other,...,3,2,3,3,3,5,5,8,9,9

'More Zero Failure? '

True

In [42]:
df.iloc[::2]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
ID,,,,,,,,,,,,,,,,,,,,,
1,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
3,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
5,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
7,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
9,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
389,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
391,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
393,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
395,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [29]:
display(df[df['famrel'] % 2 == 0])

,ID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1,GP,F,18,U,GT3,A,4,4,at_home,...,4,3,4,1,1,3,6,5,6,6
2,3,GP,F,15,U,LE3,T,1,1,at_home,...,4,3,2,2,3,3,10,7,8,10
4,5,GP,F,16,U,GT3,T,3,3,other,...,4,3,2,1,2,5,4,6,10,10
6,7,GP,M,16,U,LE3,T,2,2,other,...,4,4,4,1,1,3,0,12,12,11
7,8,GP,F,17,U,GT3,A,4,4,other,...,4,1,4,1,1,1,6,6,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,384,MS,M,19,R,GT3,T,1,1,other,...,4,3,2,1,3,5,0,6,5,0
386,387,MS,F,18,R,GT3,T,4,4,teacher,...,4,4,3,2,2,5,7,6,5,6
388,389,MS,F,18,U,LE3,T,3,1,teacher,...,4,3,4,1,1,1,0,7,9,8
391,392,MS,M,17,U,LE3,T,3,1,services,...,2,4,5,3,4,2,3,14,16,16
393,394,MS,M,18,R,LE3,T,3,2,services,...,4,4,1,3,4,5,0,11,12,10

In [31]:
df.loc[(df['activities'] == 'no') & (df['paid'] == 'no') & (df['internet'] == 'no')]

,ID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1,GP,F,18,U,GT3,A,4,4,at_home,...,4,3,4,1,1,3,6,5,6,6
7,8,GP,F,17,U,GT3,A,4,4,other,...,4,1,4,1,1,1,6,6,5,6
52,53,GP,M,15,U,LE3,A,4,2,health,...,5,5,5,3,4,5,6,11,11,10
86,87,GP,F,16,U,LE3,T,2,2,at_home,...,4,3,4,1,2,2,4,8,7,6
89,90,GP,M,16,U,LE3,A,4,4,teacher,...,4,1,3,3,5,5,18,8,6,7
92,93,GP,F,16,U,LE3,T,3,1,other,...,3,3,3,2,3,2,4,7,6,6
105,106,GP,F,15,U,GT3,A,3,3,other,...,4,3,3,1,1,4,10,10,11,11
127,128,GP,F,19,U,GT3,T,0,1,at_home,...,3,4,2,1,1,5,2,7,8,9
134,135,GP,M,15,R,GT3,T,3,4,at_home,...,5,3,3,1,1,5,0,9,0,0
136,137,GP,M,17,R,GT3,T,3,4,at_home,...,5,4,5,2,4,5,0,10,0,0
138,139,GP,M,16,U,LE3,T,1,1,services,...,4,4,4,1,3,5,0,14,12,12
154,155,GP,F,17,U,GT3,T,4,4,other,...,4,2,1,1,1,4,0,11,11,12
156,157,GP,M,17,R,LE3,T,1,2,other,...,2,2,2,3,3,5,8,16,12,13
158,159,GP,M,16,R,GT3,T,2,2,at_home,...,4,2,2,1,2,3,2,17,15,15
189,190,GP,M,17,R,GT3,T,1,2,at_home,...,3,1,3,1,5,3,4,8,9,10
321,322,GP,F,17,U,GT3,T,2,2,other,...,4,2,2,1,1,3,12,11,9,9
355,356,MS,F,18,U,GT3,T,3,3,services,...,5,3,4,1,1,5,0,10,9,9
357,358,MS,F,17,U,LE3,A,3,2,services,...,1,2,3,1,2,5,2,12,12,11
360,361,MS,F,18,R,LE3,A,1,4,at_home,...,4,3,4,1,4,5,0,13,13,13
364,365,MS,F,17,R,GT3,T,1,2,other,...,3,2,2,1,2,3,0,12,11,12
383,384,MS,M,19,R,GT3,T,1,1,other,...,4,3,2,1,3,5,0,6,5,0
392,393,MS,M,21,R,GT3,T,1,1,other,...,5,5,3,3,3,3,3,10,8,7

#### c) Merge, join and concatenate

Load the data "student_1.csv" and "student_2.csv" and combine the three datasets in a correct way. Save the new DataFrame to use it later.

In [43]:
student1 = pd.read_csv('./student_1.csv', sep=';', index_col='ID')
student2 = pd.read_csv('./student_2.csv', sep=';', index_col='ID')
students = pd.concat([df, student2])
all_students = pd.merge(students, student1)
all_students

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4.0,4.0,at_home,teacher,...,4,3,4,1,1,3,6,5.0,6.0,6.0
1,GP,F,17.0,U,GT3,T,1.0,1.0,at_home,other,...,5,3,3,1,1,3,4,5.0,5.0,6.0
2,GP,F,15.0,U,LE3,T,1.0,1.0,at_home,other,...,4,3,2,2,3,3,10,7.0,8.0,10.0
3,GP,F,15.0,U,GT3,T,4.0,2.0,health,services,...,3,2,2,1,1,5,2,15.0,14.0,15.0
4,GP,F,15.0,U,GT3,T,4.0,2.0,health,services,...,3,2,2,1,1,5,2,15.0,14.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,MS,M,18.0,R,GT3,T,2.0,1.0,other,other,...,4,4,3,1,3,5,5,7.0,6.0,7.0
1235,MS,F,19.0,R,GT3,T,2.0,3.0,services,other,...,5,4,2,1,2,5,0,7.0,5.0,0.0
1236,MS,M,21.0,R,GT3,T,1.0,1.0,other,other,...,5,5,3,3,3,3,3,10.0,8.0,7.0
1237,MS,M,18.0,R,LE3,T,3.0,2.0,services,other,...,4,4,1,3,4,5,0,11.0,12.0,10.0
1238,MS,M,19.0,U,LE3,T,1.0,1.0,other,at_home,...,3,2,3,3,3,5,5,8.0,9.0,9.0

#### d) Grouping

Answer the following questions:
- Which gender spends more time studying, which gender hast more freetime?
- At which age do students travel longest?
- Which are the maximum absences per reason? Which the minimum? Does this match the average?
- In which (F)job work older people, in which one younger?
- Are active people healthier than unactive?
- Is there any link between health and age?
- Is being romantic bad for the time spent at the university?

*Your code...*