# Pandas
## Series

In [15]:
from IPython.core.display_functions import display
import pandas as pd
display(pd.Series(["Hello", "Kevin"]))
pd.Series({"a": "Hello", "cool label": "Kevin"})

0    Hello
1    Kevin
dtype: object

a             Hello
cool label    Kevin
dtype: object

### Series with labels

In [40]:
s = pd.Series([chr(x) for x in range(ord("a"), ord("z")+1)], index=range(1, 27))
s.describe()

count     26
unique    26
top        a
freq       1
dtype: object

## Dataframe

In [57]:
df = pd.DataFrame([{"ord": x, "char":chr(x)} for x in range(ord("a"), ord("z")+1)] )
df.set_index("ord")

    char
ord
97     a
98     b
99     c
100    d
101    e
102    f
103    g
104    h
105    i
106    j
107    k
108    l
109    m
110    n
111    o
112    p
113    q
114    r
115    s
116    t
117    u
118    v
119    w
120    x
121    y
122    z

In [42]:
df.describe()

              ord
count   26.000000
mean   109.500000
std      7.648529
min     97.000000
25%    103.250000
50%    109.500000
75%    115.750000
max    122.000000

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ord     26 non-null     int64
 1   char    26 non-null     object
dtypes: int64(1), object(1)
memory usage: 544.0+ bytes

In [114]:
df.ord
display(df["ord"])
df.loc[[10, 20]]
df.loc[::-1,["ord"]]

0      97
1      98
2      99
3     100
4     101
5     102
6     103
7     104
8     105
9     106
10    107
11    108
12    109
13    110
14    111
15    112
16    113
17    114
18    115
19    116
20    117
21    118
22    119
23    120
24    121
25    122
Name: ord, dtype: int64

    ord
25  122
24  121
23  120
22  119
21  118
20  117
19  116
18  115
17  114
16  113
15  112
14  111
13  110
12  109
11  108
10  107
9   106
8   105
7   104
6   103
5   102
4   101
3   100
2    99
1    98
0    97

In [102]:
df[:]

    ord char
0    97    a
1    98    b
2    99    c
3   100    d
4   101    e
5   102    f
6   103    g
7   104    h
8   105    i
9   106    j
10  107    k
11  108    l
12  109    m
13  110    n
14  111    o
15  112    p
16  113    q
17  114    r
18  115    s
19  116    t
20  117    u
21  118    v
22  119    w
23  120    x
24  121    y
25  122    z

In [116]:
df.loc[ df["ord"] > 110]

    ord char
14  111    o
15  112    p
16  113    q
17  114    r
18  115    s
19  116    t
20  117    u
21  118    v
22  119    w
23  120    x
24  121    y
25  122    z